
body {
    background: url('/images/IMC.jpg') no-repeat center center fixed;
    background-size: cover;
}
.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
}
h1 {
    text-align: center;
}