<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cálculo del IMC</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Calculo del IMC</h1>
        <form action="/principal/calculo-imc" method="post">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="peso" class="form-label font-weight-bold">Peso (en kilogramos)</label>
                    <input type="number" class="form-control" id="peso" name="peso" placeholder="Ingrese su peso" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="altura" class="form-label font-weight-bold">Altura (en metros)</label>
                    <input type="number" class="form-control" id="altura" name="altura" placeholder="Ingrese su altura" required>
                </div>
            </div>
            <div class="col-md-12 mb-3">   
                <button type="submit" class="btn btn-primary">Calcular ahora</button>
            </div>
            <div id="resultado" class="mt-4">
                <p>Su IMC es: <span th:text="${imc}"></span> y su resultado es <span th:text="${imcMessage}"></span></p>
            </div>
            
        </form>
    </div>

    <!-- Bootstrap JS y dependencias -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
